{% extends 'base.html.twig' %}

{% block menubar %}
    <form method="post" onsubmit="startRefresh()">
        <button id="startordupdate" type="submit" class="button action base">Rendelések frissítése</button>
    </form>
    <button type="button" class="button action base last" id="startsimbtn" onclick="startSimulation()">Szimuláció</button>
    <form id="sim_form" method="post" action="{{ url_for('simulate') }}">
    </form>
    <script defer>
        function startRefresh() {
            document.querySelector("#startordupdate").innerHTML = "Frissítés folyamatban...";
            document.querySelector("#startsimbtn").disabled = true;
            document.querySelector("#startordupdate").disabled = true;
        }

        function startSimulation() {
            document.querySelector("#startsimbtn").disabled = true;
            document.querySelector("#startordupdate").disabled = true;
            window.setTimeout(() => {
                document.querySelector("#sim_form").submit();
            }, 2000);

        }
    </script>
{% endblock %}

{% block main %}
    <div class="table-container">
        <table class="list-table">
            <thead>
                <tr>
                    <th>Azonosító</th>
                    <th>Megrendelő</th>
                    <th>Összeg</th>
                    <th>Státusz</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.Key }}</td>
                        <td>{{ order.Customer.Contact.Name }}</td>
                        <td>{{ order.SumPriceGross | number_format(0, '.', ' ') }} {{ order.Currency }}</td>
                        <td>{{ order.Status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
